@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500;700&display=swap');

body{
    margin: 20px;
    font-family: 'Noto Serif TC', serif;
}

/*control*/
.control{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 15%;
    padding: 10px;
    margin: 10px;
    background-color: #FEDFE1;
    border: 2px solid black;
}
.menu h4{
    font-size: small;
    margin: 1px;
}
.menu button{
    border:0;
    background-color: #78C2C4;
    color: black;
    border-radius:10px;
    cursor:pointer;
    outline: none;
}


/*workboard*/
.workboard{
    width: 75%;
}
.input{
    float: left;
    padding: 10px;
    width: 70%;
    border: black solid 2px;

}
.input h3,p{
    padding: 0;
    margin: 0;
}
.input button{
    border:0;
    background-color: black;
    color: white;
    border-radius:10px;
    cursor:pointer;
    outline: none;   
    width: 100px;
    height: 50px;
    margin-top: 100px;
    margin-left: 30px;
}
.input button:hover{
    background-color: white;
    color: black;
    border: black solid 2px;
}
.score{
    margin: 10px;
    width:400px;
    height:400px;
    font-size: 10px;
    background-color: rgb(241, 160, 60);
}
.scoreblock{
    float: left;
    padding-left: 10px;
}
.check{
    float: left;
    padding: 10px;
    margin-left: 20px;
    width: 20%;
    font-size: 10px;
    border: black solid 2px;

}
.check h3{
    padding: 0;
    margin: 0;
}
.RawScore table { 
    border:1px solid #000; 
    font-size:8px; 
    border:1px solid #000;
    border-collapse:collapse;
} 
.RawScore th { 
    background-color: black;
    border:1px solid #000;
    color:#fff;
} 
.RawScore td { 
    border:1px solid #000;
} 

/*display*/
.display{
    padding: 10px;
    width: 75%;
    border: black solid 2px;
}
.fit{
    float: left;
    padding-left: 5px;
    width: 48%;
    border:2px solid #000;
}
.nofit{
    float: left;
    padding-left: 5px;
    width: 48%;
    border:2px solid #000;
}
.display table { 
    border:1px solid #000; 
    font-size:8px; 
    border:1px solid #000;
    border-collapse:collapse;
    
} 
.display th { 
    background-color: black;
    padding:5px;
    border:1px solid #000;
    color:#fff;
} 
.display td { 
    border:1px solid #000;
    padding:5px;
} 


