@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

body {
  margin: 40px;
  width: auto;
}

.frame {
  width: 500px;
}

h1 {
  font-size: 40px;
  font-family: "Fira Sans", sans-serif;
}

.frame,
#score {
  float: left;
}

#score {
  padding: 100px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 200px;
  height: 10px;
  border-radius: 50% 20% / 10% 40%;
  outline: none; /* 避免點選會有藍線或虛線 */
  background: black;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative; /* 設為相對位置，為了前後區塊的絕對位置而設定 */
  width: 15px;
  height: 15px;
  background: rgb(204, 102, 0);
  border-radius: 50%;
  transition: 0.2s; /* 點選放大時候的漸變時間 */
}

input[type="range"]:active::-webkit-slider-thumb:before,
input[type="range"]:active::-webkit-slider-thumb:after {
  top: 6px;
}

input[type="range"]:active::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
}

input[type="range"]:active::-webkit-slider-thumb:after {
  left: 16px;
}
