@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

body{
    margin: 40px;
    width: auto;
}

h1{
    font-size: 80px;
    font-family: 'Fira Sans', sans-serif;
}

#canvas, #score{
    float: left;
}

#score{
    padding-top: 100px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
}

input[type="range"]{
  -webkit-appearance: none;
  width:200px;
  height:10px;
  border-radius:50% 20% / 10% 40%;
  outline : none;      /* 避免點選會有藍線或虛線 */
  background:black;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  position: relative;    /* 設為相對位置，為了前後區塊的絕對位置而設定 */
  width:15px;
  height:15px;
  background: rgb(204, 102, 0);
  border-radius:50%;
  transition:.2s;        /* 點選放大時候的漸變時間 */
}

input[type="range"]:active::-webkit-slider-thumb:before,
input[type="range"]:active::-webkit-slider-thumb:after
{
top: 6px;
}

input[type="range"]:active::-webkit-slider-thumb{
width:20px;
height:20px;
}

input[type="range"]:active::-webkit-slider-thumb:after {
left: 16px;
}

button {
  margin: 20px;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px;
  border-radius:50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  outline: none;
}

span{
  font-family: 'Fira Sans', sans-serif;
}

button:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.24);
  background-color:rgb(204, 102, 0);
}